<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616758500448-f78r75eojni69cbdipvbjuipccpeke2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616758500448-f78r75eojni69cbdipvbjuipccpeke2d</string>
	<key>API_KEY</key>
	<string>AIzaSyBFE2g7n2yrsAJFvUsmNS0_I6nEYWEc9fI</string>
	<key>GCM_SENDER_ID</key>
	<string>616758500448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michelangeloamorusomanzari.My-Personal-Budget</string>
	<key>PROJECT_ID</key>
	<string>my-personal-budget-82e61</string>
	<key>STORAGE_BUCKET</key>
	<string>my-personal-budget-82e61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616758500448:ios:38431ccfc2a22b98863705</string>
</dict>
</plist>